[Unit]
Description=Home Logger
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
WorkingDirectory=/usr/share/co2service/
EnvironmentFile=/etc/telemetry/co2service.conf
ExecStart="/usr/share/co2service/co2service"
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
